/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/*--Reset code--*/
body {
    background-color:#F1F1F1;
    padding: 0 10px 0 10px;
    font-family: 'Josefin Sans', sans-serif;
    background-attachment: fixed;
    background-position: center;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-weight:400;
}
input[type="button"],input[type="submit"],input[type="text"],input[type="email"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	 font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-weight:400;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;

}
.clear {
	clear:both;
}
p{
	margin:0;
}

ul{
	margin:0;
	padding:0;
}

label{
	margin:0;

}
textarea{

}
img {
    width: 100%;
}
footer{

}
footer a {

}

/*--/Reset code--*/
h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-transform:capitalize;
    letter-spacing: 3px;
    margin: 40px 0 40px 0;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.main-container {
    width: 900px;
    background-color:#fb7158;
    display: block;
    margin: auto;
}
.w3l-main{
	width:70%;
	margin: auto;
    padding: 0 0 60px 0;
}
.w3l-from {
    flex-basis: 300px;
    padding: 3em;
    justify-content: center;
	background: rgba(232, 235, 237, 0.36);
}

form p {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
}

label.head {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 2px;
    margin: 2px;
    display: block;
    color: #fff;
}
span.title{
	color: #ca5c93;
}
span.w3l-star {
    font-size: 20px;
    vertical-align: middle;
    color: #d60026;
    line-height: 1;
}

ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 1.5;
}
.w3l-num {
    float: left;
    width: 48%;
}
.w3l-date {
    float: left;
    width: 48%;
    margin-left: 4%;
}
.w3l-options1 {
    float: left;
    width: 48%;
}
.w3l-options2 {
    float: right;
    width: 48%;
}
.gender {
    float: left;
    width: 48%;
}
.btn input[type="submit"] {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    width: 50%;
    margin: 20px auto 0px;
    box-sizing: border-box;
    border: 1px solid #fff;
    outline: none;
	cursor: pointer;
    display: block;
	color: #fff;
	background:rgba(199, 65, 132, 0);

}
.btn input[type="submit"]:hover{
	background-color: #005ba4;

}
footer {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 20px 0 0 0;
    color: #444;
    line-height: 1.8em;
}


/*--responsive--*/
@media(max-width:1920px){

}
@media(max-width:1680px){

}
@media(max-width:1600px){

}
@media(max-width:1440px){

}
@media(max-width:1366px){
	.w3l-main {
		width: 55%;
	}
}
@media(max-width:1280px){
	.w3l-main {
		width: 55%;
	}
	label.head {
		letter-spacing: 1px;
	}
}
@media(max-width:1080px){
	.w3l-main {
		width: 60%;
	}
}
@media(max-width:1050px){
	.w3l-main {
		width: 60%;
	}
}
@media(max-width:1024px){

}
@media(max-width:991px){
	  .w3l-from{
		padding: 2em;
	}
}
@media(max-width:900px){
	h1{
		font-size: 40px;
	}
}
@media(max-width:800px){
	.w3l-main {
		width: 70%;
	}
}
@media(max-width:768px){
	    .w3l-from{
		padding: 2em;
	}
}
@media(max-width:736px){

}
@media(max-width:667px){
	.w3l-main {
		width: 80%;
	}
	.w3l-from {
        padding: 2em
	}
	h1{
		letter-spacing: 2px;
	}
	.btn input[type="submit"]{
		width: 60%;
	}
}
@media(max-width:640px){
	.w3l-main {
		width: 90%;
	}
	h1{
		letter-spacing: 1px;
	}
	footer {
		letter-spacing: 0px;
	}
}
@media(max-width:600px){
	h1{
		font-size: 35px;
	}
	.w3l-from {
		padding: 2em;
	}
	footer{
		font-size: 14px;
	}
	footer a {
		font-size: 14px;
	}
}
@media(max-width:568px){
	.w3l-from{
		padding: 2em;
	}
	label.head {
		letter-spacing: 0px;
	}
	.w3l-lef1 h3 {
    font-size: 22px;
    margin: 1em 0 0.5em;
	}
}
@media(max-width:480px){
	h1 {
		font-size: 30px;
		line-height: 44px;
	}
	.w3l-from{
		padding: 1em;
	}
	.w3l-num {
		width: 100%;
	}
	.w3l-date {
		width: 100%;
		margin: 0;
	}
	.w3l-options1 .category1{
		margin: 0 auto 30px;
	}
	.w3l-options1 {
		width: 100%;
	}
	.w3l-options2 {
		float: right;
		width: 100%;
	}
	.gender {
		float: left;
		width: 100%;
	}
	.w3l-sym {
		width: 100%;
    }
	.btn input[type="submit"]{
		width: 70%;
	}
}
@media(max-width:414px){
	.w3l-from{
		padding: 1em;
	}
	.w3l-main {
		width: 95%;
	}
	h1 {
		font-size: 28px;
	}
	.btn input[type="submit"] {
        width: 100%;
	}
}
@media(max-width:384px){
	.w3l-from{
		padding: 1em;
	}
	h1{
		font-size: 26px;
	}
	.w3l-options1 {
		float: left;
		width: 100%;
	}
	.w3l-options2 {
		float: right;
		width: 100%;
	}
	.gender {
		float: left;
		width: 100%;
	}
	.w3l-sym {
		float: right;
		width: 100%;
		margin-left: 0%;
	}

}
@media(max-width:375px){
	.w3l-from{
		padding: 1em;
	}
	.w3l-lef1 h3 {
    font-size: 20px;
}
}
@media(max-width:320px){
	.w3l-from{
		padding: 1em;
	}
	h1 {
    line-height: 36px;
}
.w3l-lef1 h3 {
    font-size: 18px;
}
}
/*--/responsive--*/